.selectProduct { 
    width: 200px;
    height: 420px;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
    -webkit-box-shadow: 2px 3px 24px -1px rgba(115,115,115,0.27); 
    box-shadow: 2px 3px 24px -1px rgba(115,115,115,0.27);
    transition: 0.3s;
    margin:  0 15px;
}
.selectProduct:hover { 
    -webkit-box-shadow: 2px 3px 24px -1px rgba(36,36,36,0.27); 
    box-shadow: 2px 3px 24px -1px rgba(36,36,36,0.27);
}
.selectProduct-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.selectProduct-image { 
    width: 100%;
}
.selectProduct-price {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.selectProduct-description { 
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}