<div class="container"  >
    <span class="title" >As melhores ofertas</span>
    <div class="products" *ngIf="products$ | async as products; else loadingOrError"  >
        <div *ngFor="let product of products">
            <app-selectProduct 
            [product]="product" 
            [accessKey]="product.id" 
            (productSelected)="onSelectProduct($event)"
            ></app-selectProduct>
        </div>
    </div>
    <ng-template #loadingOrError>
      <div *ngIf="loadingError$ | async; else loading">
       Alguma coisa de errado aconteceu
      </div>
      <ng-template #loading>
        Carregando...
     </ng-template>
  </ng-template>
</div>