.Header { 
     display: flex;
     justify-content: space-between;
     padding: 0 13%;
     align-items: center;
     background-color: #fff159;
     height: 10%;
     width: 100%;
}



.Header h1 { 
        font-size: 20px;
        font-weight: bold;
        margin: 0;
}
.Header a { 
        color: #000;
        text-decoration: none;
        flex-wrap: nowrap;
        white-space: nowrap;
}
.MenuContainer { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 100%;
}
.Menu {
        display: flex; 
        list-style: none;
}

.Menu-link  { 
  margin:  0 10px;
  cursor: pointer;
  transition: 0.3s;
}

.NameLogout { 
        width: auto;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
}

.NameLogout * { 
        margin-left: 15px;
}

.UserName { 
        text-decoration: underline;
        font-weight: bold;
        color: rgb(25, 154, 240);
        margin-left: 50px;
}