<header class="Header" >
     <a routerLink="/"  style="cursor: pointer;" >Mercado dibre</a>
     <div  class="MenuContainer">
          <nav >
               <ul  class="Menu">
                    <li> 
                        <a routerLink="/Cart" class="Menu-link" >Carrinho({{cartQuantity}})</a> 
                   </li>
                    <li> 
                         <a routerLink="/Purchase" class="Menu-link">Minhas Compras</a>
                   </li>
                    <li>
                        <a (click)="logout()" *ngIf="userName" class="Menu-link" >Sair</a> 
                        <a routerLink="/Enter" (click)="goToEnter()" *ngIf="!userName" class="Menu-link" >Entre</a> 
                    </li>
               </ul>
         </nav>
         <span *ngIf="userName" class="UserName" >{{userName}}</span> 
     </div>
</header>